	.activeStudentCell:hover {
	background-color: #E8E8E8;
	cursor: pointer;
}

.activeStudentCell td:active {
	background-color: #ffb3b3;
}

.selectedStudentCell td {
	background-color: #e95c5c;
	color: white;
}

.selectedStudentCell:hover {
	cursor: pointer;
}

.exportButton {
	background-color: #e95c5c !important;
	padding: .4286rem .875rem !important;
	font-size: .6875rem !important;
	line-height: 1.5 !important;
	border-radius: .25rem !important;
	color: #fff !important;
	border-color: #609ddf !important;
	background-color: #609ddf !important;
	box-shadow: none;
}
